*{
    margin: 0;
    padding: 0;
}
@font-face{
	font-family: FuenteLato;
	src: url(../fuentes/Lato-BlackItalic.ttf);
}
body{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
     width: 100%;
     height: 600px;
     background-image: url(../Imagenes/homepage/libro3.jpg);
     background-size: cover;
     background-attachment: fixed;
     position: relative;
}
header .textos-header{
    display: flex;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    font-weight: 300px;
    font-family: 'Gluten', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}
h2{
    font-size: 35px;
    font-weight: 300px;
}
.img-small{
	width: 30px; height: 30px;
}
.crowdfunding{
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 40px 0 40px 0;
    text-align: center;
}
.crowdfunding p{
    text-align: justify;
    padding: 30px;
}
.seccion2{
    height: 450px;
    background-image: url(../Imagenes/homepage/libro5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Gluten', cursive;
}
.seccion2 h2{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400px;
}
.nosotros{
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 40px;
    text-align: justify;
}
.nosotros h2{
    text-align: center;
}
.nosotros p{
    margin-left: 90px;
    margin-right: 90px;
}
.iconos h3{
    margin-top: 20px;
    padding: 0;
    text-align: justify;
}
.iconos{
    color: black;
    display: inline-flex;
    padding-top: 20px;
}
.icono1{
    width: 70px;
    height: 70px;
}
.icono2{
    width: 70px;
    height: 70px;
}
.galeria-top{
    display: flex;
    justify-content: space-around;
}
.seccion3{
    height: 450px;
    background-image: url(../Imagenes/homepage/libro.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Gluten', cursive;
}
.seccion3 h2{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 400px;
}
.top-libros{
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 40px;
    text-align: justify;
}
.top-libros h2{
    text-align: center;
    padding-bottom: 30px;
}
.galeria-top{
    display: flex;
    justify-content: space-evenly;
}
.imagen{
    position: relative;
    height: 300px;
    width: 250px;
    box-shadow: 10px 10px 5px rgb(195, 174, 235);
    transition: all 1s;
    cursor: pointer;
}
.imagen:hover{
    width: 300px;
    height: 350px;
}
footer{
	padding: 10px;
	text-align: center;
}
h4{
	font-family: FuenteLato;
	text-align: center;
	color: blue;
}
.card-deck{
	padding-top: 20px;
}
.card{
	padding-bottom: 10px;
	padding-top: 10px;
	align-items: center;
	text-align: center;
	background-color: mintcream;
}
.card-img-top{
	width: 300px; height: 350px;
}
.card-footer{
	padding: 0px;
}