@font-face{
	font-family: FuenteLato;
	src: url(../fuentes/Lato-BlackItalic.ttf);
}
footer{
	padding: 10px;
	text-align: center;
}
h1.titulo{
	font-family: FuenteLato;
	text-align: center;
	color: cyan;
}
h4{
	font-family: FuenteLato;
	text-align: center;
	color: white;
}
h5{
	font-family: FuenteLato;
	text-align: right;
	color: white;
}
label{
    font-family: FuenteLato;
	text-align: center;
	color: white;
}
.img-small{
	width: 30px; height: 30px;
}
.img-background {
	background-image: url('../imagenes/portadas/fondo5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 20px;
}